mutt_vc_query.spec
*core
*~
*.swp
*.tar.bz2
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
